/* Ref: https://visme.co/blog/website-color-schemes/ */
.eggshell {
    color: #EAE7DC;
  }
  .vanilla {
    color: #D8C3A5;
  }
  .gray {
    color: #8E8D8A;
  }
  .light-gray {
    color: #e3e3e3;
  }
  .off-white {
    color: #c4c5c5;
  }