/* Ref: https://visme.co/blog/website-color-schemes/ */
.eggshell {
    color: #EAE7DC;
  }
  .vanilla {
    color: #D8C3A5;
  }
  .gray {
    color: #8E8D8A;
  }
  .jellybean-red {
    color: #E98074;
  }
  .red {
    color: #E85A4F;
  }